apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
patches:
  - path: deploy.yaml
  - path: canary.yaml
replicas:
  - name: vote
    count: 0
images:
  - name: schoolofdevops/vote
    newTag: main-5903af50-1766438489 # {"$imagepolicy": "instavote:vote:tag"}
    newName: jcampos15/vote
    # digest: sha256:24a0c4b4a4c0eb97a1aabb8e29f18e917d05abfe1b7a7c07857230879ce7d3d3  # it overrides tag
namespace: instavote
labels:
  - pairs:
      project: instavote
      env: staging
commonAnnotations:
  supported-by: "sre@example.com"
configMapGenerator:
  - name: vote-options
    envs:
      - options.env
